:root {
  --main-title-color: #2e2f42;
  --main-text-color: #434455;
  --main-text-color-white: #ffffff;
  --main-footer-text: #e7e9fc;
  --box-background: #2e2f42;
  --background-btn: #404bbf;
  --color-logo: #4d5ae5;
  --color-logo-footer: #f4f4fd;
  --basic-index-margin: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, sans-serif;
  font-family: Roboto, sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 156px 0 156px;
}

.title {
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: var(--background-btn);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

/* header */
.header {
  padding: 24px 0 24px 0;
  background-color: antiquewhite;
}
.header-nav {
}
.header-logo {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
}
.header-logo-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.header-list {
}
.header-item {
}
.addres {
  font-style: normal;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.header_link:hover {
}
.header-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* main */

.main {
}
/* SECTION-buttons */
.main-menu {
}

.main-button {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  color: var(--main-text-color-white);

  background: var(--background-btn);
}
.main-button:active {
}

/* Main cards section */

.main-list {
}
.main-link {
}
.main-image {
}
.cards-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.cards-apps {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* Footer */
.footer {
  background: var(--box-background);
}
.footer-logo-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-footer);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-footer-text);
}

/* IndexHTML */

.hero {
  margin-bottom: var(--basic-index-margin);
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-text-color-white);
  background: var(--box-background);
}
.main-butn-index {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-text-color-white);
  cursor: pointer;
  background: var(--color-logo);
}
.main-butn-index:hover,
.main-butn-index:active,
.main-butn-index:focus {
  color: var(--main-text-color-white);
  background: var(--background-btn);
}

/* Public */

.public {
  margin-bottom: var(--basic-index-margin);
}
.public-link {
}
.public-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.public-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* What are we doing */

.doing-section {
  margin-bottom: var(--basic-index-margin);
}
.doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--main-title-color);
}
.doing-list {
}
.complection {
}

/* Our Team */
.our-team {
  margin-bottom: 130px;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.team-list {
}
.team-list-mans {
}
.mans-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.working {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* Customers */
.customers {
}
.cust {
}
.customers-list {
}
.customers-link {
}
