body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root{
  --main-title-color:#2e2f42
  --main-text-color:#434455
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: tomato;
}


.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--main-text-color);
  text-decoration: none;
}

/* header */
.box {
}
.header {
}
.header-nav {
}
.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2E2F42;
}

.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
color:var(--main-title-color);
}
.header_link:hover {
}
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* main */

.main {
}
/* SECTION-buttons */
.main-menu {
}

.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  color: #ffffff;
  background: #404bbf;
}
.main-button:active {
}

/* Main cards section */

.main-list {
}
.main-link {
}
.main-image {
}
.cards-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: color:var(--main-title-color);;
}
.cards-apps {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
   color:var(--main-text-color);
}
/* Footer */
.footer {
 background: #2E2F42;
}
.footer-logo-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* IndexHTML */

.hero {
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: #2E2F42;
}
.main-butn-index {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
}
.main-butn-index:hover,
.main-butn-index:active,
.main-butn-index:focus {
  color: #4d5ae5;
  background: #f4f4fd;
}

/* Public */
.public {
}
.public-link {
}
.public-list {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em
color:var(--main-title-color);}

.public-info {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
 color:var(--main-text-color);
}
/* What are we doing */

.doing {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;

color:var(--main-title-color);;
}
.doing-list {
}
.complection {
}

/* Our Team */
.team {font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color:var(--main-title-color);;

}
.team-list {
}
.team-list-mans {
}
.mans-list {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--main-title-color);;
}
.working {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
 color:var(--main-text-color);
}