:root {
  --main-title-color: #2e2f42;
  --main-text-color: #434455;
  --main-text-color-white: #ffffff;
  --main-footer-text: #e7e9fc;
  --box-background: #2e2f42;
  --background-btn: #404bbf;
  --color-logo: #4d5ae5;
  --color-logo-footer: #f4f4fd;
  --basic-index-margin: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, sans-serif;
  font-family: Roboto, sans-serif;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.title {
}
.list {
  list-style: none;
  font-style: normal;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: var(--background-btn);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

/* ----------=====----header-----=====----------- */

.header {
  padding: 24px 0 24px 0;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  padding-right: 332px;
}
.header-logo {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  margin-right: 76px;
}
.header-logo-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.header-list {
  display: flex;
  text-align: center;
  gap: 40px;
}
.header-item {
}
.addres {
}
.address-list {
  display: flex;
  margin-left: auto;
}

.address-link {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.header_link:hover {
}
.header-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-right: 40px;
}
/* --------===main===-------- */

.main {
}
/* ---hero--- */

.container-main {
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 72px;
}

.scrolls-buttons {
}
.list-button {
  justify-content: center;
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
}
.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  height: 48px;
  text-align: center;
  min-height: 48px;
  min-width: 69px;
}
.main-button:hover,
.main-button:focus {
  color: var(--main-text-color-white);

  background: var(--background-btn);
}
.main-button:active {
}

/* Main cards section */

.main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.main-link {
  width: 360px;
  height: 420px;
  margin-bottom: 48px;
}
.main-image {
  display: block;
}
.cards-item {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.cards-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.cards-apps {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* Footer */
.footer {
  background: var(--box-background);
}
.footer-logo-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-footer);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-footer-text);
}

/* -------_____=====IndexHTML =====_____-------*/

.hero {
  margin-bottom: var(--basic-index-margin);
}
.container-hero {
  width: auto;
  height: 600px;
  background: var(--box-background);
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-text-color-white);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.main-butn-index {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-text-color-white);
  cursor: pointer;
  background: var(--color-logo);
  min-width: 169px;
  min-height: 56px;
  text-align: center;
  border-radius: 4px;
  border: #4d5ae5;
}
.main-butn-index:hover,
.main-butn-index:active,
.main-butn-index:focus {
  color: var(--main-text-color-white);
  background: var(--background-btn);
}

/* Public */

.public {
  margin-bottom: var(--basic-index-margin);
}
.public-link {
  /* display: inline-block;
  width: 264px;
  gap: 24px; */
}
.public-list {
  display: flex;
  gap: 12px;
  width: 1128px;
  margin: 0 auto;
}
.public-list-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-bottom: 8px;
}

.public-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* What are we doing */

.doing-section {
  margin-bottom: var(--basic-index-margin);
}
.doing {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  text-align: center;
  padding-bottom: 72px;
}
.doing-list {
  display: flex;
  gap: 24px;
}
.complection {
}

/* Our Team */
.our-team {
}
.container-team {
  display: block;
  width: auto;
  height: 732px;
  background: #f4f4fd;
}
.team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 72px;
  padding-top: 120px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
/* .logo-list {
} */
.team-item {
  padding-bottom: 32px;
  text-align: center;
  width: 264px;
  height: 380px;
  background: #ffffff;
}
.team-item-container {
  padding-bottom: 32px;
  padding-top: 32px;
  border: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}

.team-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.working {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
}
.team-img {
  display: block;
}

/* Customers
.customers {
}
.cust {
}
.customers-list {
  display: flex;
}
.customers-link {
} */

/* ------=====Footer Index=====--------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--box-background);
}
.container-footer {
}

.footer-logo-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-footer);
}

.footer-index-text {
  display: block;
  width: 264px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-footer-text);
}
